body {
    padding: 10px;
}

.buttonsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#choosefile {
    margin-bottom: 20px;
    margin-top: 10px;
}

#choosefile #fileUpload {
    margin-bottom: 10px;
}

#fileUpload {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fileUpload:hover {
    background-color: #0056b3;
}

#copyButton {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 4px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #5a6268;
}

#clearButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 4px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clearButton:hover {
    background-color: #c82333;
}

#exportButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 4px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#exportButton:hover {
    background-color: #218838;
}

#exportButton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#outputResult {
    margin-bottom: 10px;
}

.card {
    overflow-y: auto;
    overflow-x: auto;
    /* white-space: pre-wrap; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: monospace;
}

#card_json {
    height: 500px;
}

#card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /* background-color: blueviolet; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.switchLine {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}